PORT=3080
MQTT_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=trunk-recorder
MQTT_UNIT_TOPIC=trunk-recorder/units
MQTT_MESSAGE_TOPIC=trunk-recorder/messages
MQTT_AUDIO_ENABLED=false
RECORDINGS_DIR=./recordings
AUDIO_RETENTION=100
